[submodule "chat_api"]
    path = chat_api
    url = git@github.com:weslley6216/chat_api.git

[submodule "chat_frontend"]
    path = chat_frontend
    url = git@github.com:weslley6216/chat_frontend.git
